extends ../layout

block content
  .page-header
    h1
      | Posts
      span.pull-right
        a.btn.btn-primary(href=r.new_post_path) New
  table.table.table-striped
    thead
      tr
        th Name
        th Title
        th Content
        th
        th
        th
    tbody
      each post in posts
        tr
          td= post.name
          td= post.title
          td= post.content
          td.actions
            a.btn.btn-mini.btn-primary(href=r.post_path(post.id)) Show
          td.actions
            a.btn.btn-mini(href=r.edit_post_path(post.id)) Edit
          td.actions
            a.btn.btn-mini.btn-danger(href='#') Destroy
