extends ../layout

block content
  .page-header
    h1
      | Post
      span.pull-right
        a.btn.btn-inverse(href=r.posts_path) Back
        | &nbsp;
        a.btn(href=r.edit_post_path(post.id)) Edit
        | &nbsp;
        a.btn.btn-danger(href='#') Destroy
  table.table.table-bordered.table-striped
    tbody
      tr
        td
          strong Name
        td= post.name
      tr
        td
          strong Title
        td= post.title
      tr
        td
          strong Content
        td= post.content
